@import "tailwindcss";

* {
  color: #f7ebfc;
  font-family: "Manrope", sans-serif;
  src: url("/assets/fonts/Manrope-Regular.woff2") format("woff2"),
    url("/assets/fonts/Manrope-Regular.woff") format("woff");
  font-optical-sizing: auto;
}
body {
  background-color: #0c0512;
  scroll-behavior: smooth !important;
}

.Errors {
  color: darkorange;
}

.SoundBond {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
}

.shiny-text {
  color: #b5b5b5a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

@media screen and (min-width: 1024px) {
  .shiny-text {
    font-size: 3.5rem !important;
    line-height: 1;
  }
}

@media screen and (min-width: 1536px) {
  .shiny-text {
    font-size: 4rem !important;
  }
}

.navText:hover {
  color: #d488e8 !important;
  transition-duration: 0.5s;
}

/* BOTTONE LOGIN */

.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 500;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060606;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
}

#btnCardsHome:hover {
  background-color: rgba(184, 73, 214, 1) !important;
  transition-duration: 0.5s;
}

/* FOOTER */

.footer {
  background-image: linear-gradient(to top, #b849d6 -150%, #0c0512 100%);
  padding: 2rem;
}

/* LOGIN */

/* .signInForm {
  width: 100%;
} */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #0c0512;
  backdrop-filter: blur(10px);
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #b849d6;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  left: 0px;
  transform-origin: center;
  animation: pulse 1s linear infinite !important;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #b849d6;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline #732880;
  color: #732880;
}

.signin a {
  color: #b849d6;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: rgba(12, 5, 18, 1);
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #b849d6;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #b849d6;
}

.submit:hover {
  background-color: #732880;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* LISTA GENERI */

#heart {
  display: none;
}

.like-button {
  position: relative;
  cursor: pointer;
  display: flex;
  border: none;
  background-color: #8a2e9d;
  overflow: hidden;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 2px 2px 5px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 8px rgba(255, 255, 255, 0.3);
}

.like {
  width: 90%;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}

.like-icon {
  fill: grey;
}

.on:checked ~ .like .like-icon {
  fill: #fc4e4e;
  animation: enlarge 0.2s ease-out 1;
  transition: all 0.2s ease-out;
}

@keyframes enlarge {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 480px) {
  .like-button {
    height: 33px !important;
    width: 90px !important;
    border-radius: 10px;
  }

  .like-icon {
    height: 20px;
    width: 20px;
  }

  .like-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 640px) {
  .like-button {
    height: 45px !important;
    width: 115px !important;
    border-radius: 16px;
  }

  .like-icon {
    height: 23px;
    width: 23px;
  }

  .like-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .like-button {
    height: 45px !important;
    width: 115px !important;
    border-radius: 16px;
  }

  .like-icon {
    height: 25px;
    width: 25px;
  }

  .like-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .like-button {
    height: 48px;
    width: 136px;
  }

  .like-icon {
    height: 28px;
    width: 28px;
  }

  .like-text {
    font-size: 20px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

/* FEEDBACK CHE GIRANO */

@keyframes marquee-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee-right {
  animation: marquee-right 30s linear infinite;
}

.animate-marquee-left {
  animation: marquee-left 30s linear infinite;
}

/* EFFETTO FADEIN */
.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

/* SPINNER */
.loader {
  display: flex;
  justify-content: center;
  margin: 0.25em 0;
}

.w-2 {
  width: 0.5em;
}

.dash {
  animation: dashArray 2s ease-in-out infinite, dashOffset 2s linear infinite;
}

.spin {
  animation: spinDashArray 2s ease-in-out infinite, spin 8s ease-in-out infinite,
    dashOffset 2s linear infinite;
  transform-origin: center;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes spinDashArray {
  0% {
    stroke-dasharray: 270 90;
  }

  50% {
    stroke-dasharray: 0 360;
  }

  100% {
    stroke-dasharray: 270 90;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  12.5%,
  25% {
    rotate: 270deg;
  }

  37.5%,
  50% {
    rotate: 540deg;
  }

  62.5%,
  75% {
    rotate: 810deg;
  }

  87.5%,
  100% {
    rotate: 1080deg;
  }
}
